$dark50: #fbf0f2;
$dark100: #dcd8d9;
$dark200: #bfbfbf;
$dark300: #a6a6a6;
$dark400: #8c8c8c;
$dark500: #737373;
$dark600: #595959;
$dark700: #404040;
$dark800: #282626;
$dark900: #150a0d;

$purple: #805AD5;
$purpleDark: #510FF0;
$green: #4BB04E;
$red: #E9011D;